.container {
 min-height: 100vh;
 display: flex;
 flex-direction: column;

 .pageContent {
  display: flex;
  flex-grow: 1;
  margin-top: var(--navigation-height);
  padding: var(--layout-padding);
 }
}
